/*border styles for grid */
div[class^="col"]{
    min-height: 50px;
    border: 1px solid black;
}

.row{
    border: 1px dashed rgb(201, 115, 129);
}

h1,h2 {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
  }

  .btn btn-light {
        font-family: "Abhaya Libre", serif;
        font-weight: 400;
        font-style: normal;
  }
  
  